/.idea
/client/.idea
/server/.idea
/client/.env
/server/.env
/node_modules
/client/node_modules
/server/node_modules

/server/developmentJob.env
/server/productionJob.env
/server/developmentHome.env
/server/productionHome.env